.hero-text {
    text-align: center;
}

.hero-nav-item {
    text-align: center;
}
.hero-btn {
  
display: flex;
   
margin-left: auto;
margin-right: auto;

& {
        cursor: pointer;
        font-family: inherit;
    }
}



.hero-link {
    text-align: center;
}