:root {
    --main-title-color: #ffffff;
    --second-title-color: rgb(173, 168, 168);
    --main-text-color: #757575;
    --opacity-color: rgba(255, 255, 255, 0.6);
    --accent-color: #f321e5;
    --heder-bg-color: #ffffff;
    --bacik-bg-color: #e5e5e5;
    --second-bg-color: #2f303a;
    --tomato-outline: tomato;
}